charset "UTF-8";
* {
margin: 0;
padding: 0;
box-sizing:border-box;
}
body {
font-family: gulim;
margin:0 auto;
}
header {
display: block;
background-color: blue;
color: white;
text-align: center;
height: 60px;
font-size: 40px;
padding: 0px;
top: 0;
height: 150px;
font-weight: 1000;
}
header {
display: flex;
align-items: center;
justify-content: center;
}
footer {
background-color: skyblue;
color: white;
height: 80px;
text-align: center;
}
footer {
display: flex;
align-items: center;
justify-content: center;
}
.nav {
background-color: plum;
color: white;
height: 60px;
line-height: 58px;
}
.nav li {
width: 100px;
height: 40px;
}
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.nav li {
display: inline;
margin: 0 5px;
}
.nav li a {
text-decoration: none;
color: white;
}
.nav li a:hover {
color: aqua;
}
section {
padding: 20px 30px;
}
.title {
font-size: 16px;
font-weight: 600;
text-align: center;
margin: 20px;
}
section li {
list-style-position: inside;
}
html,
body {
  height: 100%;
}
body {
display: flex;
flex-direction: column;
text-align: justify;
background-color:rgba(230, 230, 230, 0.2);
margin: 0;
}
main {
flex: auto;
background-color: liceblue;;
}